.header{
    border-style:solid;
    background-color:AliceBlue;
}

.content{
    height:80%;
    width:70%;
    background-color:AliceBlue;
    
}



.footer{
    background-color:AliceBlue;
}

.job-title{
    font-weight:bold;
    color:maroon;
}


.large-list{
    font-size:25px;
    font-weight:bold;
}

.large-list ul {
    font-size:18px;
    font-weight:normal;
}

h3 {
    text-transform: uppercase;
    
}

p{
    text-align: right;
    font-family: Arial;
}

body{
    background-image:url("http://i2.wp.com/www.wonderslist.com/wp-content/uploads/2012/08/Moto.jpg") ;
    
}

a{
    font-size: 16px;
    font-style:italic;
}
img{
    width:200px;
    height:200px;
    border-width:5px;
    border-color:black;
    border-style:solid;
    
}
