/*
    Add a rule that chooses any h4 tag that
    comes right after an h2 tag and makes the font
    color CadetBlue
*/


h2{
    background-color:SteelBlue;
}
h2 + h4{
    color:CadetBlue;
}
h1{
    background-color:#a679d2;
}

body{
    background-color:PaleGoldenRod;
}
