/* Add your rules here */





/* Add your rules ABOVE this line */

/*Basic Page Styles */

body{
    background-image:url("https://codehs.com/uploads/e357327c057f95c1c8025b33d3ec3eac");
    background-repeat:5;
    color:white;
    text-align:center;
}

h2{
    font-weight:bolder;
}

ul{
    list-style:none;
}

h1{
    color:#fc7d2e;
}

ul a {
    color:#e6d130;
    font-size:25px;
}

h2 a {
    color:inherit;
}

#featured h2{
    font-style:italic;
    color:#30e694;
}
#featured{
    border:7px dotted #fc7d2e;
}

.nav{
    float:left;
    border:7px outset black;
    width:25%;
}
.content{
    float:right;
    width:70%;
}
